@charset "utf-8";
* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-size: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;

    /* 在X5新内核Blink中，在排版页面的时候，会主动对字体进行放大，会检测页面中的主字体，当某一块字体在我们的判定规则中，认为字号较小，并且是页面中的主要字体，就会采取主动放大的操作。然而这不是我们想要的，可以采取给最大高度解决 */
    max-height: 100000px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

em, strong {
    font-style: normal;
}

ul, ol, li {
    list-style: none;
}

table {
    border-spacing: 0;
    /*border-collapse: collapse;*/
}

body {
    font-family: arial, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    /*background-color: #f2f2f2;*/
    font-size: 0.24rem;
}

a {
    text-decoration: none;
}

.webapp {
    max-width: 10rem;
    margin: 0 auto;
}

/*theader*/
.theader-wrp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.68rem;
    padding-top: 0.4rem;
    background-color: #252525;
}

.theader {
    width: 100%;
    height: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.4rem 0 0.2rem;
}

.theader .left-address {
    color: #909090;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.theader .left-address .address-icon {
    display: block;
    height: 0.24rem;
}

.theader .logo-img {
    height: 0.5rem;
}

.theader .right-portrait {
    position: relative;
}

.theader .right-portrait .head-popup {
    position: absolute;
    width: 2.6rem;
    top: 0.6rem;
    right: -0.22rem;
    background-color: #fff;
    border: 0.01rem solid #efefef;
    border-radius: 0.08rem;
    padding: 0.15rem 0.2rem;
    box-shadow: 0 0 0.2rem rgba(156, 156, 156, 0.3);
    line-height: 2;
    font-size: 0.3rem;
    display: none;
}

.theader .right-portrait.open .head-popup {
    display: block;
}

.theader .right-portrait .head-img {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;

}

.theader .right-portrait .arrow-down {
    width: 0;
    height: 0;
    top: 0.2rem;
    position: absolute;
    border-top: 0.08rem solid #000;
    border-right: 0.08rem solid transparent;
    border-left: 0.08rem solid transparent;
    border-bottom: 0.08rem solid transparent;
}

/*sort switch*/
.sort-switch {
    display: flex;
    flex-direction: row;
    padding-top: 0.16rem;
    color: #dfdfdf;
    height: 0.5rem;
    font-size: 0.3rem;
}

.sort-switch .sort-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: center;
}

.sort-switch .sort-item:first-child {
    border-right: 0.02rem solid #909090;
}

.sort-switch .sort-item .sort-icon {
    display: block;
    width: 0.23rem;
    height: 0.24rem;
    margin-top: 0.05rem;
    background: url("../images/sort-icon.png") no-repeat 0 0;
    background-size: contain;
}

/*bnav*/
.bnav {
    background-color: #202020;
    height: 1.1rem;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: .01rem solid #000;
    color: #fff;
}

.bnav .bnav-tab {
    width: 20%;
    text-align: center;
    font-size: 0.22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bnav .bnav-tab.bnav-active {
    color: #f63e31;
}

.bnav .bnv-img {
    display: block;
    height: 0.54rem;
}

.bnav .bnav-course .bnv-img {
    background: url("../images/bnav/bnav_course.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-course.bnav-active .bnv-img {
    background: url("../images/bnav/bnav_course_active.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-party .bnv-img {
    background: url("../images/bnav/bnav_party.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-party.bnav-active .bnv-img {
    background: url("../images/bnav/bnav_party_active.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-news .bnv-img {
    background: url("../images/bnav/bnav_news.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-news.bnav-active .bnv-img {
    background: url("../images/bnav/bnav_news_active.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-attention .bnv-img {
    background: url("../images/bnav/bnav_attention.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-attention.bnav-active .bnv-img {
    background: url("../images/bnav/bnav_attention_active.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-my .bnv-img {
    background: url("../images/bnav/bnav_my.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-my.bnav-active .bnv-img {
    background: url("../images/bnav/bnav_my_active.png") no-repeat center center;
    background-size: contain;

}

/*main content*/
.main-content {
    background-color: #fff;
    padding: 0.1rem 0.18rem;
    margin-top: 1.68rem;
    margin-bottom: 1.1rem;
}

.main-content .main-content-item {
    background-color: #3b3b3b;
    border-radius: 0.08rem;
    box-shadow: 0 0 0.1rem rgba(59, 59, 59, 0.8);
    padding: 0 0.15rem 0.15rem;
    margin-bottom: 0.1rem;
}

.main-content .main-content-item:last-child {
    margin-bottom: 0;
}

.main-content .main-content-item .item-title {
    font-size: 0.36rem;
    color: #ff4235;
    text-align: center;
    line-height: 2;
    font-weight: bold;
}

.main-content .main-content-item .item-detail {
    width: 100%;
    height: 3.6rem;
    position: relative;
}

.main-content .main-content-item .item-detail img {
    display: block;
    height: 100%;
    width: 100%;
}

.main-content .main-content-item .item-detal-content {
    position: absolute;
    top: 46%;
    left: 0;
    height: 54%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-top: 0.05rem;
}

.main-content .main-content-item .item-detal-content .item-type, .main-content .main-content-item .item-detal-content .item-intro {
    line-height: 1.3;
    display: table;
    padding: 0 0.1rem;
}

.main-content .main-content-item .item-detal-content .item-type span, .main-content .main-content-item .item-detal-content .item-intro span {
    display: table-cell;
}

.main-content .main-content-item .item-detal-content .intro-name, .main-content .main-content-item .item-detal-content .intro-name {
    width: 3em;
}

.main-content .main-content-item .item-detal-content .class-hour {
    margin-top: 0.1rem;
    color: #fff;
}

.main-content .main-content-item .item-detal-content .class-hour ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-content .main-content-item .item-detal-content .class-hour li {
    background: url("../images/course_bg.png") no-repeat 0 0;
    background-size: contain;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
}

.main-content .main-content-item .item-detal-content .class-hour .class-hour-num {
    font-size: 0.48rem;
    display: block;
}

.main-content .main-content-item .item-detal-content .class-hour .class-hour-text {
    font-size: 0.18rem;
    display: block;
}

/*遮罩层*/
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -150%;
    /*top: 0;*/
    background-color: #252525;
    opacity: 0.94;
    z-index: 3;
}

.overlay.slideInDown {
    top: 0;
}

/*课程类型*/
.course-type {
    position: fixed;
    left: 0;
    top: -150%;
    /*top: 0;*/
    width: 100%;
    height: 100%;
    padding: 0 0.2rem 2rem;
    overflow-y: auto;
    z-index: 4;
}

.course-type.slideInDown {
    top: 0;
}

.course-type .course-type-item {
    border: 0.02rem solid #7c7c7c;
    border-radius: 0.2rem;
    margin-top: 1rem;
    position: relative;
    padding-top: 1.35rem;
    padding-bottom: 0.25rem;
}

.course-type .course-type-item .course-type-title {
    position: absolute;
    left: 50%;
    top: -0.6rem;
    margin-left: -0.6rem;
}

.course-type .course-type-item .course-type-title .course-type-title-img {
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    border: 0.1rem solid #d0d0d0;
    border-radius: 50%;
    margin: 0 auto;
}

.course-type .course-type-item .course-type-title .course-type-title-text {
    color: #fff;
    text-align: center;
    margin-top: 0.06rem;
    font-size: 0.3rem;
}

.course-type .course-type-item .course-type-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.course-type .course-type-item .course-type-list li .course-type-img {
    width: 1.9rem;
    height: 1.9rem;
    border: 0.1rem solid #7c7c7d;
    border-radius: 50%;
    overflow: hidden;
}

.course-type .course-type-item .course-type-list li .course-type-img img {
    display: block;
    width: 100%;
    height: 100%;

}

.course-type .course-type-item .course-type-text {
    color: #fefefe;
    font-size: 0.24rem;
    text-align: center;
    margin-top: 0.08rem;
}

/*时间安排*/
.time-arrangement {
    position: fixed;
    left: 0;
    top: -150%;
    /*top: 0;*/
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 4;
}

.time-arrangement.slideInDown {
    top: 0;
}

.time-arrangement-subwrp {
    padding: 0 0.4rem;
}

.time-arrangement .time-title {
    color: #ff4235;
    font-size: 0.3rem;
    line-height: 3.5;
    margin-top: 0.2rem;
}

.time-arrangement .course-date-text, .time-arrangement .course-time-text {
    color: #fff;
    font-size: 0.24rem;
    display: inline-block;
    border: 0.02rem solid #fff;
    border-radius: 0.08rem;
}

.time-arrangement .course-date-text {
    padding: 0.5em 0 0.4em;
    margin-bottom: 0.4rem;
    width: 100%;
    text-align: center;
}

.time-arrangement .course-date .course-date-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.time-arrangement .course-time li {
    width: 49%;
    display: inline-block;
}

.time-arrangement .course-time li:nth-child(even) {
    text-align: right;
}

.time-arrangement .course-time-text {
    width: 98%;
    text-align: center;
    padding: 0.3em 0;
    margin-bottom: 0.34rem;
}

.time-arrangement .course-date-list li > div {
    width: 1.3rem;
}

.time-arrangement .course-date-list div.active a {
    border-color: #ff4235 !important;
    color: #ff4235 !important;;
    background-color: #fff !important;;
}

.time-arrangement .course-time-list li.active a {
    border-color: #ff4235 !important;
    color: #ff4235 !important;;
    background-color: #fff !important;;
}

/*time note 时间安排中的提示*/
.time-note {
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    color: #ff3366;
    font-size: 0.28rem;
    letter-spacing: 0.2em;
}

.time-note .note-title {
    font-size: 0.32rem;
}

/*单日课程表和时间课程表样式*/

.theader-wrp.smaller-height {
    height: auto;
    padding-bottom: 0.25rem;;
}

/*单日课程表*/

.timetable {
    margin-top: 1.15rem;
    padding: 0.16rem;
}

.timetable .timetable-subwrp {
    border: 1px solid #3b3b3b;
    background: url("../images/timetable_bg.png") no-repeat 0 0 #3b3b3b;
    border-radius: 0.18rem;
    box-shadow: 0 0 0.2rem #555;
    overflow: hidden;
}

.timetable table {
    text-align: center;
    width: 100%;
    /*padding: 0.16rem;*/
    line-height: 4.5;
    border: 0.01rem solid #3b3b3b;
}

.timetable table th, .timetable table td {
    font-weight: normal;
    color: #fff;
}

.timetable table tr:first-child {
    line-height: 2.2;
}

.timetable table tr:nth-child(2) {
    line-height: 2.8;
}

.timetable table tr th:first-child {
    width: 24%;
    line-height: 1.5;
}

.timetable table .course-title {
    font-size: 0.36rem !important;
    line-height: 2.5;
    padding-top: 0.2rem;
    margin-bottom: -0.2rem;
}

.timetable table .course-content {
    box-shadow: 0 0 0.3rem #999 inset;
    background-color: rgba(0, 0, 0, 0.4);
}

.timetable table .course-detail {
    font-size: 0.21rem !important;
    /*line-height: 2;*/
}

.timetable .txt-color-yellow {
    color: #f5df10;
}

.timetable .txt-color-red {
    color: #ff3366;
}

.timetable .txt-color-green {
    color: #00ff01;
}

.timetable .txt-color-orange {
    color: #ff6f02;
}

.timetable .txt-color-blue {
    color: #00a1e9;
}

.timetable .txt-color-plum {
    color: #dc00dc;
}

.timetable .fs-smaller {
    font-size: 0.2rem !important;
}

.timetable .fs-small {
    font-size: 0.26rem !important;
}

.timetable .fs-medium {
    font-size: 0.32rem !important;
}

.timetable .fs-large {
    font-size: 0.36rem !important;
}

.timetable th, .timetable td {
    border: 0.01rem dashed #919392;
    vertical-align: middle;
}

.timetable table tbody tr:first-child th {
    border-top: 0;
}

.timetable table tbody tr th:first-child {
    border-left: 0;
}

.timetable table tbody tr th:last-child {
    border-right: 0;
}

.timetable table tbody tr:last-child th {
    border-bottom: 0;
}
.timetable table tbody tr:last-child td {
    border-bottom: 0;
}

.timetable table tbody tr td:last-child {
    border-right: 0;
}

.one-day-timetable .time-date {
    width: 5.5em;
    display: inline-block;
    text-align: left;
}

.hour-timetable .time-date {
    width: 4em;
    display: inline-block;
    text-align: left;
}

.hour-timetable .fs-small {
    font-size: 0.28rem !important;
}



/*课次详细页*/
.course-detail-content {
    margin-top: 1.18rem;
    padding: 0.1rem 0.18rem 1.1rem;
}

.course-detail-content .course-detail-part {
    background-color: #3b3b3b;
    border-radius: 0.08rem;
    box-shadow: 0 0 0.1rem rgba(59, 59, 59, 0.8);
    padding: 0 0.2rem 0.15rem;
    margin-bottom: 0.1rem;
}

.course-detail-content .course-detail-time-address {
    text-align: center;
}

.course-detail-content .course-detail-time-address .course-title-wrp {
    padding: 0.2rem 0;
}

.course-detail-content .course-detail-time-address .course-title {
    font-size: 0.36rem;
    color: #ff4235;
    font-weight: bolder;
}

.course-detail-content .course-detail-time-address .course-subtitle {
    font-size: 0.22rem;
    color: #fff;
}

.course-detail-content .course-detail-time-address .course-img img {
    display: block;
    width: 100%;
}

.course-detail-content .course-detail-time-address .course-time-address-ul {
    color: #fff;
}

.course-detail-content .course-detail-time-address .course-time-address-ul > li {
    display: table;
    width: 100%;
    padding: 0.25rem 0;
    border-bottom: 1px solid #7f7f7f;
}

.course-detail-content .course-detail-time-address .course-time-address-ul > li > div {
    display: table-cell;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .left-part {
    font-size: 0.3rem;
    position: relative;
    padding-left: 0.5rem;
    text-align: left;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .left-part .item-name {
    display: block;
    width: 5em;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .left-part .img-icon {
    display: block;
    position: absolute;
    top: 0.04rem;
    left: 0;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .left-part.course-calendar .img-icon {
    width: 0.34rem;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .left-part.course-time .img-icon {
    width: 0.34rem;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .left-part.course-address .img-icon {
    width: 0.24rem;
    left: 0.04rem;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .right-part {
    position: relative;
    color: #ccc;
    font-size: 0.26rem;
    padding-right: 0.4rem;
    text-align: right;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .right-part .img-icon {
    width: 0.15rem;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -0.12rem;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .course-address-detail {
    text-align: left;
    letter-spacing: 0.02rem;
    font-size: 0.24rem;
}

.course-detail-teacher {
    color: #fff;
}

.course-detail-teacher .course-teacher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.22rem 0 0.25rem;
}

.course-detail-teacher .teacher-situdation-left {
    position: relative;
    padding-left: 1.2rem;
}

.course-detail-teacher .teacher-head {
    width: 1rem;
    height: 1rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -0.6rem;
    border-radius: 50%;
}

.course-detail-teacher .teacher-situdation-left {
    font-size: 0.28rem;
}

.course-detail-teacher .teacher-situdation-left .teacher-name-wrp {
    color: #ff4235;
    line-height: 2;
}

.course-detail-teacher .teacher-situdation-left .teacher-name-wrp .star-icon {
    margin: 0 0.1rem 0 0.2rem;
}

.course-detail-teacher .teacher-situdation-right .class-room {
    font-size: 0.28rem;
}

.course-detail-teacher .entryed-people-num {
    color: #ccc;
    text-align: right;
    line-height: 2.5;
}

.course-detail-teacher .entryed-people-num .slash-icon {
    margin: 0 0.04rem;
}

.course-detail-teacher .progress-bar {
    width: 100%;
    height: 0.1rem;
    position: relative;
    border-radius: 0.5rem;
    background-color: #ccc;
    overflow: hidden;
}

.course-detail-teacher .progress-bar .progress {
    width: 80%;
    height: 0.1rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #24c789;
}

.course-detail-teacher .entry-people {
    padding: 0 0.1rem;
    border-top: 0.01rem solid #7f7f7f;
}

.course-detail-teacher .entry-people .entry-people-title {
    font-size: 0.26rem;
    color: #fff;
    padding: 0.2rem 0;
}

.course-detail-teacher .entry-people .entry-people-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0.2rem;
}

.course-detail-teacher .entry-people .entry-people-group .entry-people-img-wrp {
    width: 0.56rem;
    height: 0.56rem;
    border: 0.03rem solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.course-detail-teacher .entry-people .entry-people-group .entry-people-img-wrp.active {
    border-color: #ff4235;
}

.course-detail-teacher .entry-people .entry-people-group .entry-people-img-wrp .entry-people-img {
    display: block;
    width: 100%;
}

.course-detail-intro {
    color: #c1c1c1;
}

.course-detail-intro .course-img img {
    display: block;
    width: 100%;
}

.course-detail-intro .course-title, .course-detail-notice .course-title, .course-detail-more .course-title {
    font-size: 0.32rem;
    color: #ff4235;
    text-align: left;
    font-weight: bolder;
    line-height: 3;
}

.course-detail-intro .course-intro-title {
    color: #fff;
    font-size: 0.32rem;
    line-height: 2;
    margin-top: 0.15rem;
}

.course-detail-intro .course-intro-item {
    font-size: 0.25rem;
    margin-top: 0.1rem;
}

.course-detail-intro .course-intro-item .course-intro-subtitle {
    font-size: 0.3rem;
    line-height: 2.5;
}

.course-detail-intro .course-intro-item ul {
    line-height: 1.8;
}


.course-detail-notice {
    font-size: 0.25rem;
    color: #c1c1c1;
}
.course-detail-notice .course-item-ul{
    line-height: 1.8;
}

.course-detail-notice .course-item-ul li, .course-intro-item .course-item-ul li {
    display: table;
}

.course-detail-notice .course-item-ul li > i, .course-detail-notice .course-item-ul li > span, .course-intro-item .course-item-ul li > i, .course-intro-item .course-item-ul li > span {
    display: table-cell;
}

.course-detail-notice .course-item-ul li {
    margin-bottom: 0.1rem;
}

.course-detail-notice .course-item-ul li .small-dot, .course-intro-item .course-item-ul li .small-dot {
    width: 0.6em;
}

.course-detail-share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.45rem 0;
}

.course-detail-share .share-btn {
    width: 47%;
    text-align: center;
    background-color: #24c789;
    border-radius: 0.08rem;
    color: #fff;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.3rem;
}

.course-detail-more {
    padding-bottom: 0 !important;
}

.course-detail-more .more-course-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course-detail-more .more-course-ul li {
    width: 49%;
    display: inline-block;
    position: relative;
    margin-bottom: 0.2rem;
}

.course-detail-more .more-course-ul li .course-title {
    position: absolute;
    height: 45%;
    width: 100%;
    top: 55%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.course-detail-more .more-course-ul li .course-title span {
    display: block;
    text-align: center;
}

.course-detail-more .more-course-ul li .course-title span.title {
    font-size: 0.3rem;
    color: #f0857d;
}

.course-detail-more .more-course-ul li .course-title span.subtitle {
    font-size: 0.22rem;
    color: #fff;
}

.course-detail-more .more-course-ul li .course-img {
    width: 100%;
    border-radius: 0.08rem;
    overflow: hidden;
}

.course-detail-more .more-course-ul li .course-img img {
    width: 100%;
    display: block;
}

.course-detail-entry-action {
    height: 1.05rem;
    width: 100%;
    border-top: 0.01rem solid #ccc;
    position: fixed;
    bottom: 0;
    z-index: 3;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.course-detail-entry-action .entry-num {
    width: 60%;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-detail-entry-action .entry-num .entry-num-show {
    display: block;
}

.course-detail-entry-action .entry-num > span img {
    display: block;
    padding: 0.2rem;
}

.course-detail-entry-action .entry-num .entry-num-show {
    font-size: 0.32rem;
    width: 2rem;
    text-align: center;
}

.course-detail-entry-action .entry-num .entry-num-show .entry-figure {
    margin: 0 0.1rem;
    font-size: 0.35rem;
}

.course-detail-entry-action .entry-btn {
    width: 40%;
    height: 100%;
    background-color: #ff4235;
    text-align: center;
    color: #fff;
    font-size: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
