@charset "utf-8";
* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-size: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;

    /* 在X5新内核Blink中，在排版页面的时候，会主动对字体进行放大，会检测页面中的主字体，当某一块字体在我们的判定规则中，认为字号较小，并且是页面中的主要字体，就会采取主动放大的操作。然而这不是我们想要的，可以采取给最大高度解决 */
    max-height: 100000px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

em, strong {
    font-style: normal;
}

ul, ol, li {
    list-style: none;
}

table {
    border-spacing: 0;
    /*border-collapse: collapse;*/
}

body {
    font-family: arial, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    /*background-color: #f2f2f2;*/
    font-size: 0.24rem;
}

a {
    text-decoration: none;
}

.webapp {
    max-width: 10rem;
    margin: 0 auto;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    animation-name: slideInUp;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

/*theader*/
.theader-wrp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.68rem;
    padding-top: 0.4rem;
    background-color: #252525;
}

.theader {
    width: 100%;
    height: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.4rem 0 0.2rem;
}

.theader .left-address {
    color: #909090;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.theader .left-address .address-icon {
    display: block;
    height: 0.24rem;
}

.theader .logo-img {
    height: 0.5rem;
}

.theader .right-portrait {
    position: relative;
}

.theader .right-portrait .head-popup {
    position: absolute;
    width: 2.6rem;
    top: 0.6rem;
    right: -0.22rem;
    background-color: #fff;
    border: 0.01rem solid #efefef;
    border-radius: 0.08rem;
    padding: 0.15rem 0.2rem;
    box-shadow: 0 0 0.2rem rgba(156, 156, 156, 0.3);
    line-height: 2;
    font-size: 0.3rem;
    display: none;
}

.theader .right-portrait.open .head-popup {
    display: block;
}

.theader .right-portrait .head-img {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;

}

.theader .right-portrait .arrow-down {
    width: 0;
    height: 0;
    top: 0.2rem;
    position: absolute;
    border-top: 0.08rem solid #000;
    border-right: 0.08rem solid transparent;
    border-left: 0.08rem solid transparent;
    border-bottom: 0.08rem solid transparent;
}

/*sort switch*/
.sort-switch {
    display: flex;
    flex-direction: row;
    padding-top: 0.2rem;
    color: #dfdfdf;
    height: 0.6rem;
    font-size: 0.32rem;
}

.sort-switch .sort-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: center;
}

.sort-switch .sort-item:first-child {
    border-right: 0.02rem solid #909090;
}

.sort-switch .sort-item .sort-icon {
    display: block;
    width: 0.23rem;
    height: 0.24rem;
    margin-top: 0.05rem;
    background: url("../images/sort-icon.png") no-repeat 0 0;
    background-size: contain;
}

/*bnav*/
.bnav {
    background-color: #202020;
    height: 1.1rem;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: .01rem solid #000;
    color: #fff;
}

.bnav .bnav-tab {
    width: 20%;
    text-align: center;
    font-size: 0.22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bnav .bnav-tab.bnav-active {
    color: #f63e31;
}

.bnav .bnv-img {
    display: block;
    height: 0.54rem;
}

.bnav .bnav-course .bnv-img {
    background: url("../images/bnav/bnav_course.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-course.bnav-active .bnv-img {
    background: url("../images/bnav/bnav_course_active.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-party .bnv-img {
    background: url("../images/bnav/bnav_party.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-party.bnav-active .bnv-img {
    background: url("../images/bnav/bnav_party_active.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-news .bnv-img {
    background: url("../images/bnav/bnav_news.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-news.bnav-active .bnv-img {
    background: url("../images/bnav/bnav_news_active.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-attention .bnv-img {
    background: url("../images/bnav/bnav_attention.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-attention.bnav-active .bnv-img {
    background: url("../images/bnav/bnav_attention_active.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-my .bnv-img {
    background: url("../images/bnav/bnav_my.png") no-repeat center center;
    background-size: contain;

}

.bnav .bnav-my.bnav-active .bnv-img {
    background: url("../images/bnav/bnav_my_active.png") no-repeat center center;
    background-size: contain;

}

/*main content*/
.main-content {
    background-color: #fff;
    padding: 0.1rem 0.18rem;
    margin-top: 1.68rem;
    margin-bottom: 1.1rem;
}

.main-content .main-content-item {
    background-color: #3b3b3b;
    border-radius: 0.08rem;
    box-shadow: 0 0 0.1rem rgba(59, 59, 59, 0.8);
    padding: 0 0.15rem 0.15rem;
    margin-bottom: 0.1rem;
}

.main-content .main-content-item:last-child {
    margin-bottom: 0;
}

.main-content .main-content-item .item-title {
    font-size: 0.36rem;
    color: #ff4235;
    text-align: center;
    line-height: 2;
    font-weight: bold;
}

.main-content .main-content-item .item-detail {
    width: 100%;
    height: 3.6rem;
    position: relative;
}

.main-content .main-content-item .item-detail img {
    display: block;
    height: 100%;
    width: 100%;
}

.main-content .main-content-item .item-detal-content {
    position: absolute;
    /*top: 46%;*/
    bottom: 0;
    left: 0;
    /*height: 54%;*/
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.05rem 0 0.05rem;
}

.main-content .main-content-item .item-detal-content .item-type, .main-content .main-content-item .item-detal-content .item-intro {
    line-height: 1.3;
    display: table;
    padding: 0 0.1rem;
}

.main-content .main-content-item .item-detal-content .item-type span, .main-content .main-content-item .item-detal-content .item-intro span {
    display: table-cell;
}

.main-content .main-content-item .item-detal-content .intro-name, .main-content .main-content-item .item-detal-content .intro-name {
    width: 3em;
}

.main-content .main-content-item .item-detal-content .class-hour {
    margin-top: 0.1rem;
    color: #fff;
}

.main-content .main-content-item .item-detal-content .class-hour ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-content .main-content-item .item-detal-content .class-hour li {
    background: url("../images/course_bg.png") no-repeat 0 0;
    background-size: contain;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
}

.main-content .main-content-item .item-detal-content .class-hour .class-hour-num {
    font-size: 0.48rem;
    display: block;
}

.main-content .main-content-item .item-detal-content .class-hour .class-hour-text {
    font-size: 0.18rem;
    display: block;
}

/*遮罩层*/
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -150%;
    /*top: 0;*/
    background-color: #252525;
    opacity: 0.94;
    z-index: 3;
}

.overlay.slideInDown {
    top: 0;
}

/*课程类型*/
.course-type {
    position: fixed;
    left: 0;
    top: -150%;
    /*top: 0;*/
    width: 100%;
    height: 100%;
    padding: 0 0.2rem 2rem;
    overflow-y: auto;
    z-index: 4;
}

.course-type.slideInDown {
    top: 0;
}

.course-type .course-type-item {
    border: 0.02rem solid #7c7c7c;
    border-radius: 0.2rem;
    margin-top: 1rem;
    position: relative;
    padding-top: 1.35rem;
    padding-bottom: 0.25rem;
}

.course-type .course-type-item .course-type-title {
    position: absolute;
    left: 50%;
    top: -0.6rem;
    margin-left: -0.6rem;
}

.course-type .course-type-item .course-type-title .course-type-title-img {
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    border: 0.1rem solid #d0d0d0;
    border-radius: 50%;
    margin: 0 auto;
}

.course-type .course-type-item .course-type-title .course-type-title-text {
    color: #fff;
    text-align: center;
    margin-top: 0.06rem;
    font-size: 0.3rem;
}

.course-type .course-type-item .course-type-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.course-type .course-type-item .course-type-list li .course-type-img {
    width: 1.9rem;
    height: 1.9rem;
    border: 0.1rem solid #7c7c7d;
    border-radius: 50%;
    overflow: hidden;
}

.course-type .course-type-item .course-type-list li .course-type-img img {
    display: block;
    width: 100%;
    height: 100%;

}

.course-type .course-type-item .course-type-text {
    color: #fefefe;
    font-size: 0.24rem;
    text-align: center;
    margin-top: 0.08rem;
}

/*时间安排*/
.time-arrangement {
    position: fixed;
    left: 0;
    top: -150%;
    /*top: 0;*/
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 4;
}

.time-arrangement.slideInDown {
    top: 0;
}

.time-arrangement-subwrp {
    padding: 0 0.4rem;
}

.time-arrangement .time-title {
    color: #ff4235;
    font-size: 0.3rem;
    line-height: 3.5;
    margin-top: 0.2rem;
}

.time-arrangement .course-date-text, .time-arrangement .course-time-text {
    color: #fff;
    font-size: 0.24rem;
    display: inline-block;
    border: 0.02rem solid #fff;
    border-radius: 0.08rem;
}

.time-arrangement .course-date-text {
    padding: 0.5em 0 0.4em;
    margin-bottom: 0.4rem;
    width: 100%;
    text-align: center;
}

.time-arrangement .course-date .course-date-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.time-arrangement .course-time li {
    width: 49%;
    display: inline-block;
}

.time-arrangement .course-time li:nth-child(even) {
    text-align: right;
}

.time-arrangement .course-time-text {
    width: 98%;
    text-align: center;
    padding: 0.3em 0;
    margin-bottom: 0.34rem;
}

.time-arrangement .course-date-list li > div {
    width: 1.3rem;
}

.time-arrangement .course-date-list div.active a {
    border-color: #ff4235 !important;
    color: #ff4235 !important;;
    background-color: #fff !important;;
}

.time-arrangement .course-time-list li.active a {
    border-color: #ff4235 !important;
    color: #ff4235 !important;;
    background-color: #fff !important;;
}

/*time note 时间安排中的提示*/
.time-note {
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    color: #ff3366;
    font-size: 0.28rem;
    letter-spacing: 0.2em;
}

.time-note .note-title {
    font-size: 0.32rem;
}

/*单日课程表和时间课程表样式*/

.theader-wrp.smaller-height {
    height: auto;
    padding-bottom: 0.25rem;;
}

/*单日课程表*/

.timetable {
    margin-top: 1.15rem;
    padding: 0.16rem;
}

.timetable .timetable-subwrp {
    border: 1px solid #3b3b3b;
    background: url("../images/timetable_bg.png") no-repeat 0 0 #3b3b3b;
    border-radius: 0.18rem;
    box-shadow: 0 0 0.2rem #555;
    overflow: hidden;
}

.timetable table {
    text-align: center;
    width: 100%;
    /*padding: 0.16rem;*/
    line-height: 3.5;
    border: 0.01rem solid #3b3b3b;
}

.timetable table th, .timetable table td {
    font-weight: normal;
    color: #fff;
}

.timetable table tr:first-child {
    line-height: 2.2;
}

.timetable table tr:nth-child(2) {
    line-height: 2.2;
}

.timetable table tr th:first-child {
    width: 24%;
    line-height: 1.5;
}

.timetable table .course-title {
    font-size: 0.36rem !important;
    line-height: 2.5;
    padding-top: 0.2rem;
    margin-bottom: -0.2rem;
}

.timetable table .course-content {
    box-shadow: 0 0 0.3rem #999 inset;
    background-color: rgba(0, 0, 0, 0.4);
}

.timetable table .course-detail {
    font-size: 0.21rem !important;
    /*line-height: 2;*/
}

.timetable .txt-color-yellow {
    color: #f5df10;
}

.timetable .txt-color-red {
    color: #ff3366;
}

.timetable .txt-color-green {
    color: #00ff01;
}

.timetable .txt-color-orange {
    color: #ff6f02;
}

.timetable .txt-color-blue {
    color: #00a1e9;
}

.timetable .txt-color-plum {
    color: #dc00dc;
}

.timetable .fs-smaller {
    font-size: 0.2rem !important;
}

.timetable .fs-small {
    font-size: 0.26rem !important;
}

.timetable .fs-medium {
    font-size: 0.32rem !important;
}

.timetable .fs-large {
    font-size: 0.36rem !important;
}

.timetable th, .timetable td {
    border: 0.01rem dashed #919392;
    vertical-align: middle;
}

.timetable table tbody tr:first-child th {
    border-top: 0;
}

.timetable table tbody tr th:first-child {
    border-left: 0;
}

.timetable table tbody tr th:last-child {
    border-right: 0;
}

.timetable table tbody tr:last-child th {
    border-bottom: 0;
}

.timetable table tbody tr:last-child td {
    border-bottom: 0;
}

.timetable table tbody tr td:last-child {
    border-right: 0;
}

.one-day-timetable .time-date {
    width: 5.5em;
    display: inline-block;
    text-align: left;
}

.hour-timetable .time-date {
    width: 4em;
    display: inline-block;
    text-align: left;
}

.hour-timetable .fs-small {
    font-size: 0.28rem !important;
}

/*课次详细页*/
.course-detail-content {
    margin-top: 1.18rem;
    padding: 0.1rem 0.18rem 1.1rem;
}

.course-detail-content .course-detail-part {
    background-color: #3b3b3b;
    border-radius: 0.08rem;
    box-shadow: 0 0 0.1rem rgba(59, 59, 59, 0.8);
    padding: 0 0.2rem 0.15rem;
    margin-bottom: 0.1rem;
}

.course-detail-content .course-detail-time-address {
    text-align: center;
}

.course-detail-content .course-detail-time-address .course-title-wrp {
    padding: 0.2rem 0;
}

.course-detail-content .course-detail-time-address .course-title {
    font-size: 0.45rem;
    color: #ff4235;
    font-weight: bolder;
}

.course-detail-content .course-detail-time-address .course-subtitle {
    font-size: 0.25rem;
    color: #fff;
}

.course-detail-content .course-detail-time-address .course-img img {
    display: block;
    width: 100%;
}

.course-detail-content .course-detail-time-address .course-time-address-ul {
    color: #fff;
}

.course-detail-content .course-detail-time-address .course-time-address-ul > li {
    display: table;
    width: 100%;
    padding: 0.25rem 0;
    border-bottom: 1px solid #7f7f7f;
}

.course-detail-content .course-detail-time-address .course-time-address-ul > li > div {
    display: table-cell;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .left-part {
    font-size: 0.3rem;
    position: relative;
    padding-left: 0.5rem;
    text-align: left;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .left-part .item-name {
    display: block;
    width: 5em;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .left-part .img-icon {
    display: block;
    position: absolute;
    top: 0.04rem;
    left: 0;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .left-part.course-calendar .img-icon {
    width: 0.34rem;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .left-part.course-time .img-icon {
    width: 0.34rem;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .left-part.course-address .img-icon {
    width: 0.24rem;
    left: 0.04rem;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .right-part {
    position: relative;
    color: #ccc;
    font-size: 0.28rem;
    padding-right: 0.4rem;
    text-align: right;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .right-part .img-icon {
    width: 0.15rem;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -0.12rem;
}

.course-detail-content .course-detail-time-address .course-time-address-ul .course-address-detail {
    text-align: left;
    letter-spacing: 0.02rem;
    font-size: 0.28rem;
}

.course-detail-teacher {
    color: #fff;
}

.course-detail-teacher .course-teacher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.26rem 0 0.25rem;
}

.course-detail-teacher .teacher-situdation-left {
    position: relative;
    padding-left: 1.2rem;
    font-size: 0.3rem;
}

.course-detail-teacher .teacher-head {
    width: 1rem;
    height: 1rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -0.6rem;
    border-radius: 50%;
}

.course-detail-teacher .teacher-situdation-left .teacher-name-wrp {
    color: #ff4235;
    line-height: 2;
}

.course-detail-teacher .teacher-situdation-left .teacher-name-wrp .star-icon {
    margin: 0 0.1rem 0 0.2rem;
}

.course-detail-teacher .teacher-situation-right .class-room {
    font-size: 0.3rem;
}

.course-detail-teacher .entryed-people-num {
    color: #ccc;
    text-align: right;
    line-height: 2;
    font-size: 0.28rem;
    margin-bottom: 0.05rem;
}

.course-detail-teacher .entryed-people-num .slash-icon {
    margin: 0 0.04rem;
}

.course-detail-teacher .progress-bar {
    width: 100%;
    height: 0.1rem;
    position: relative;
    border-radius: 0.5rem;
    background-color: #ccc;
    overflow: hidden;
}

.course-detail-teacher .progress-bar .progress {
    width: 80%;
    height: 0.1rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #24c789;
}

.course-detail-teacher .entry-people {
    padding: 0 0.1rem;
    border-top: 0.01rem solid #7f7f7f;
}

.course-detail-teacher .entry-people .entry-people-title {
    font-size: 0.28rem;
    color: #fff;
    padding: 0.2rem 0;
}

.course-detail-teacher .entry-people .entry-people-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0.2rem;
}

.course-detail-teacher .entry-people .entry-people-group .entry-people-img-wrp {
    width: 0.6rem;
    height: 0.6rem;
    border: 0.03rem solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.course-detail-teacher .entry-people .entry-people-group .entry-people-img-wrp.active {
    border-color: #ff4235;
}

.course-detail-teacher .entry-people .entry-people-group .entry-people-img-wrp .entry-people-img {
    display: block;
    width: 100%;
}

.course-detail-intro {
    color: #c1c1c1;
}

.course-detail-intro .course-img img {
    display: block;
    width: 100%;
}

.course-detail-intro .course-title, .course-detail-notice .course-title, .course-detail-more .course-title {
    font-size: 0.36rem;
    color: #ff4235;
    text-align: left;
    font-weight: bolder;
    line-height: 3;
}

.course-detail-intro .course-intro-title {
    color: #fff;
    font-size: 0.34rem;
    line-height: 2;
    margin-top: 0.15rem;
}

.course-detail-intro .course-intro-item {
    font-size: 0.26rem;
    margin-top: 0.1rem;
}

.course-detail-intro .course-intro-item .course-intro-subtitle {
    font-size: 0.32rem;
    line-height: 2.5;
}

.course-detail-intro .course-intro-item ul {
    line-height: 1.8;
}

.course-detail-notice {
    font-size: 0.26rem;
    color: #c1c1c1;
}

.course-detail-notice .course-item-ul {
    line-height: 1.8;
}

.course-detail-notice .course-item-ul li, .course-intro-item .course-item-ul li {
    display: table;
}

.course-detail-notice .course-item-ul li > i, .course-detail-notice .course-item-ul li > span, .course-intro-item .course-item-ul li > i, .course-intro-item .course-item-ul li > span {
    display: table-cell;
}

.course-detail-notice .course-item-ul li {
    margin-bottom: 0.1rem;
}

.course-detail-notice .course-item-ul li .small-dot, .course-intro-item .course-item-ul li .small-dot {
    width: 0.6em;
}

.course-detail-share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.45rem 0;
}

.course-detail-share .share-btn {
    width: 47%;
    text-align: center;
    background-color: #24c789;
    border-radius: 0.08rem;
    color: #fff;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.32rem;
}

.course-detail-more {
    padding-bottom: 0 !important;
}

.course-detail-more .more-course-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course-detail-more .more-course-ul li {
    width: 49%;
    display: inline-block;
    position: relative;
    margin-bottom: 0.2rem;
}

.course-detail-more .more-course-ul li .course-title {
    position: absolute;
    height: 48%;
    width: 100%;
    top: 52%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 1.3;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.course-detail-more .more-course-ul li .course-title span {
    display: block;
    text-align: center;
}

.course-detail-more .more-course-ul li .course-title span.title {
    font-size: 0.32rem;
    color: #f0857d;
}

.course-detail-more .more-course-ul li .course-title span.subtitle {
    font-size: 0.26rem;
    color: #fff;
}

.course-detail-more .more-course-ul li .course-img {
    width: 100%;
    border-radius: 0.08rem;
    overflow: hidden;
}

.course-detail-more .more-course-ul li .course-img img {
    width: 100%;
    display: block;
}

.course-detail-entry-action {
    height: 1.05rem;
    width: 100%;
    border-top: 0.01rem solid #ccc;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.course-detail-entry-action .entry-num {
    width: 60%;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-detail-entry-action .entry-num .entry-num-show {
    display: block;
}

.course-detail-entry-action .entry-num > span img {
    display: block;
    padding: 0.2rem;
}

.course-detail-entry-action .entry-num .entry-num-show {
    font-size: 0.32rem;
    width: 2rem;
    text-align: center;
}

.course-detail-entry-action .entry-num .entry-num-show .entry-figure {
    margin: 0 0.1rem;
    font-size: 0.36rem;
}

.course-detail-entry-action .entry-btn {
    width: 40%;
    height: 100%;
    background-color: #ff4235;
    text-align: center;
    color: #fff;
    font-size: 0.36rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.course-detail-notice .course-title {
    margin-bottom: -0.15rem;
}

/*优惠券*/
.discount-coupon {
    margin-bottom: 1.3rem;
}

.discount-coupon .discount-coupon-title-wrp {
    position: relative;
    text-align: center;
    margin: 0.5rem 0.3rem;
}

.discount-coupon .discount-coupon-title {
    font-size: 0.36rem;
    color: #eb3772;
    background-color: #fff;
    display: inline-block;
    padding: 0 0.15rem;
}

.discount-coupon .title-line {
    position: absolute;
    width: 100%;
    height: 0.02rem;
    letter-spacing: 0;
    bottom: 0.12rem;
    background-color: #3b3b3b;
    z-index: -1;
}

.discount-coupon .title-attention {
    display: block;
    width: 0.28rem;
    height: 0.28rem;
    position: absolute;
    right: 0;
    top: -0.14rem;
}

.discount-coupon .title-attention img {
    display: block;
    width: 100%;
}

.discount-coupon-list {
    padding: 0 0.2rem;
}

.discount-coupon-list .discount-coupon-item {
    height: 2.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.3rem;
}

.discount-coupon .discount-coupon-list .item-part {
    /*display: inline-block;*/
}

.discount-coupon .discount-coupon-list .item-left {
    width: 38%;
    height: 100%;
    background-color: #3b3b3b;
    color: #eb3772;
    /*-radius: 0.18rem;*/
    border-top-left-radius: 0.18rem;
    border-bottom-left-radius: 0.18rem;
    text-align: center;
    position: relative;
}

.discount-coupon .discount-coupon-list .item-left .money-part {
    position: relative;
    display: inline-block;
    line-height: 1;
    top: 0.55rem;
}

.discount-coupon .discount-coupon-list .item-left .money-unit {
    position: absolute;
    width: 0.5rem;
    height: 0.52rem;
    left: -0.5rem;
    top: 0;
}

.discount-coupon .discount-coupon-list .item-left .money-value {
    font-size: 1.08rem;
}

.discount-coupon .discount-coupon-list .item-right {
    width: 60%;
    height: 100%;
    font-size: 0.3rem;
    background: url("../images/discount_bg.png") no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.3rem;
    border: 0.01rem solid #ddd;
    box-shadow: 0 0 0.1rem #ebebeb;
    border-top-right-radius: 0.18rem;
    border-bottom-right-radius: 0.18rem;
}

.points-mall {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    z-index: 4;
    background-color: #3b3b3b;
    color: #e63166;
    font-size: 0.36rem;
    text-align: center;
}

/*账号余额*/
.account-balance {
    padding: 0 0.2rem;
    margin-top: 1.3rem;
}

.account-balance .amount-wrp {
    border-radius: 0.12rem;
    box-shadow: 0 0 0.2rem #555;
    overflow: hidden;
    background-color: #3b3b3b;
    margin-bottom: 0.24rem;
}

.account-balance .amount-part {
    height: 5rem;
    text-align: center;
    position: relative;
    border-radius: 0.08rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.amount-part .balance-bg {
    position: absolute;
}

.amount-part .balance-bg-left {
    top: 0;
    left: 0;
    display: block;
    width: 27%;
}

.amount-part .balance-bg-right {
    top: 0;
    right: 0;
    display: block;
    width: 27%;
}

.account-balance .amount-part .amount-value {
    font-size: 1rem;
    color: #f44336;
    line-height: 1;
    font-weight: bolder;
}

.account-balance .amount-part .amount-text {
    font-size: 0.36rem;
    color: #fff;
    line-height: 1.5;
}

.account-balance .balance-action {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.34rem;
    line-height: 2;
    padding: 0 0 0.4rem;
}

.account-balance .balance-action .balance-action-item {
    width: 48%;
    text-align: center;
}

.account-balance .balance-action .vertical-line {
    height: auto;
    width: 0.01rem;
    background-color: #b0b0b0;
    display: block;
}

.account-balance .expense-list {
    background-color: #3b3b3b;
    color: #f44336;
    border-radius: 0.12rem;
    font-size: 0.32rem;
    text-align: center;
    line-height: 3;
    box-shadow: 0 0 0.2rem #555;
    overflow: hidden;
}

/*账号预约*/
.account-appointment-timetable .account-appointment-title {
    text-align: center;
    padding: 0.3rem 0 0.2rem;
}

.account-appointment-timetable .account-appointment-title .appoint-course-title {
    color: #ff4235;
    font-size: 0.4rem;
    line-height: 1.5;
}

.account-appointment-timetable .account-appointment-title .appoint-horizontal-line {
    height: 0.02rem;
    width: 1rem;
    margin: 0 auto;
    background-color: #fff;
}

.account-appointment-timetable .account-appointment-title .appoint-vertical-line {
    margin: 0 1em;
}

.account-appointment-timetable .account-appointment-title .appoint-course-subtitle {
    color: #ffffff;
    font-size: 0.22rem;
}

.account-appointment-timetable .timetable-subwrp {
    background: url("../images/appointment_bg.png") no-repeat center center #3b3b3b;
    background-size: cover;
    margin-bottom: 0.15rem;
}

.account-appointment-timetable table {
    font-size: 0.35rem;
}

.account-appointment-timetable table tr:first-child td {
    border-top: 0;
}

.account-appointment-timetable table tr td:first-child {
    border-left: 0;
}

.account-appointment-timetable table tr td:last-child {
    border-right: 0;
}

.account-appointment-timetable table tr:nth-child(2) td:first-child {
    border-bottom: 0;
    width: 6em;
}

.account-appointment-timetable table tr:last-child {
    font-size: 0.3rem;
}

.account-appointment-timetable tr:nth-child(2) {
    line-height: 2;
}

.account-appointment-timetable tr:last-child {
    line-height: 2.5;
}

/*个人中心*/
.personal-center {
    margin-top: 1.12rem;
    margin-bottom: 1.2rem;
}

.personal-center .personal-center-portrait {
    height: 3.4rem;
    background: -webkit-linear-gradient(#989898, #404040);
    background: -o-linear-gradient(#989898, #404040);
    background: -moz-linear-gradient(#989898, #404040);
    background: linear-gradient(#989898, #404040);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.personal-center .personal-center-portrait .username-text {
    color: #ff4235;
    font-size: 0.32rem;
    line-height: 2;
}

.personal-center .personal-center-portrait .portrait-img {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    border: 0.02rem solid #cbcbcb;
    margin: 0 auto;
    display: block;
}

.personal-center-my-correlation {
    background-color: #404040;
    border-top: 0.01rem solid #898989;
    padding: 0.32rem 0;
}

.personal-center-my-correlation .my-correlation-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.personal-center-my-correlation .my-correlation-ul .my-correlation-list {
    width: 28%;
    text-align: center;
}

.personal-center-my-correlation .my-correlation-ul .my-correlation-vertical-line {
    height: auto;
    width: 0.01rem;
    background-color: #898989;
    display: block;
}

.personal-center-my-correlation .my-correlation-link {
    display: block;
    text-align: center;
}

.personal-center-my-correlation .my-correlation-item-value {
    color: #ff4235;
    font-size: 0.4rem;
    display: block;
}

.personal-center-my-correlation .my-correlation-item-name {
    color: #fff;
    font-size: 0.28rem;
    display: block;
}

.personal-center-my-activities {
    background-color: #404040;
    border-top: 0.01rem solid #898989;
    margin-bottom: 0.08rem;
    padding-bottom: 0.3rem;
    font-size: 0.28rem;
}

.personal-center-my-activities .my-activities-title {
    color: #ff4235;
    /*font-size: 0.24rem;*/
    text-align: center;
    line-height: 3;
}

.personal-center-my-activities .my-activities-vertical-line {
    height: auto;
    width: 0.01rem;
    background-color: #898989;
    display: block;
}

.personal-center-my-activities .my-activities-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    line-height: 2;
}

.personal-center-my-activities .my-activities-ul .my-activities-list {
    width: 48%;
    text-align: center;
}

.personal-center-my-activities .my-activities-ul .my-activities-link {
    display: block;
}

.personal-center .personal-list-item {
    background-color: #404040;
    border-radius: 0.15rem;
    overflow: hidden;
    margin-bottom: 0.1rem;
    box-shadow: 0 0 0.02rem rgba(59, 59, 59, 0.8);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.28rem;
}

.personal-center .personal-list-item .personal-list-item-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.personal-center .personal-list-item .personal-list-item-left .icon-img {
    width: 0.35rem;
}

.personal-center .personal-list-item .item-text {
    font-size: 0.32rem;
    line-height: 3;
    margin-left: 0.1rem;
}

.personal-center .personal-list-item-right .personal-list-item-right-link {
    width: 0.38rem;
    /*height: 0.24rem;*/
    display: block;
}

.personal-center .personal-list-item-right .personal-list-item-right-link .empty-arrow-icon {
    width: 100%;
    display: block;
}

/*积分使用规则*/
.points-use-rule {
    padding: 0.3rem 0 0.3rem;
    border-top: 1px solid #b7b7b7;
}

.points-use-rule .points-use-rule-title {
    color: #fff;
    text-align: center;
    font-size: 0.34rem;
    line-height: 3;
}

.points-use-rule .points-use-rule-ul {
    color: #fff;
    opacity: 0.6;
    font-size: 0.28rem;
    padding: 0 0.25rem;
    line-height: 1.8;
}

.points-use-rule .points-use-rule-ul li {
    display: table;
}

.points-use-rule .points-use-rule-ul li .small-dot {
    width: 0.6em;
    display: table-cell;
}

.points-use-rule .points-use-rule-ul li span {
    display: table-cell;
}

/*场地详细信息*/

.place-detail {
    margin: 1.15rem 0 1rem;
    padding: 0.2rem 0.2rem 0.1rem;
}

.place-detail .place-detail-addresss-img {
    background-color: #3b3b3b;
    border: 1px solid #3b3b3b;
    border-radius: 0.18rem;
    box-shadow: 0 0 0.2rem #555;
    overflow: hidden;
    padding: 0.2rem 0.2rem 0;
    margin-bottom: 0.1rem;

}

.place-detail .place-detail-addresss-img .place-detail-show .item-img-wrp .item-img-img {
    display: block;
    width: 100%;
}

.place-detail .place-detail-addresss-img .place-detail-show .item-img-wrp .item-img-ul .item-img-li {
    margin-bottom: 0.2rem;
}

.place-detail .place-detail-addresss-img .place-detail-title {
    color: #ff4235;
    font-size: 0.4rem;
    text-align: center;
    font-weight: bolder;
}

.place-detail .place-detail-addresss-img .place-detail-address-name {
    color: #fff;
    font-size: 0.32rem;
    text-align: center;
    font-weight: bolder;
}

.place-detail .place-detail-show .place-detail-show-item .item-title {
    color: #fff;
    font-size: 0.3rem;
    text-align: center;
    font-weight: bolder;
    margin: 1.2em 0 0.4em;
}

.place-intro-notice {
    font-size: 0.26rem;
    color: #c1c1c1;
    background-color: #3b3b3b;
    border-radius: 0.08rem;
    box-shadow: 0 0 0.1rem rgba(59, 59, 59, 0.8);
    padding: 0 0.2rem 0.15rem;
    margin-bottom: 0.1rem;
}

.place-intro-notice .content-title {
    font-size: 0.36rem;
    color: #ff4235;
    text-align: left;
    font-weight: bolder;
    line-height: 2;
    padding-top: 0.2rem;
}

.place-intro-notice .content-ul {
    line-height: 1.8;
}

.place-intro-notice .content-ul li {
    display: table;
    margin-bottom: 0.1rem;
}

.place-intro-notice .content-ul li .small-dot {
    display: table-cell;
    width: 0.6em;
}

.place-intro-notice .content-ul li span {
    display: table-cell;
}

.place-appoint-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    z-index: 4;
    background-color: #ff4235;
    color: #fff;
    font-size: 0.36rem;
    text-align: center;
    font-weight: bolder;
}

.place-appoint-btn a {
    display: block;
}

/*场地预约支付*/
.place-appointment-payment {
    margin-top: 1.18rem;
    padding: 0.1rem 0.2rem 1.1rem;
}

.place-appointment-payment .place-lease-time {
    border-radius: 0.08rem;
    box-shadow: 0 0 0.1rem rgba(59, 59, 59, 0.8);
    padding: 0 0.2rem 0.15rem;
    margin-bottom: 0.1rem;
    background: url("../images/place_appointment_table_bg.jpg") no-repeat 0 0 #3b3b3b;
    background-size: cover;
}

.place-appointment-payment .place-lease-time .place-lease-time-title {
    font-size: 0.36rem;
    color: #ff4235;
    text-align: center;
    font-weight: bolder;
    line-height: 3;
}

.place-appointment-payment .place-lease-time .place-lease-time-table {
    color: #fff;
    font-size: 0.35rem;
    width: 100%;
    line-height: 2.3;
    text-align: center;
    border: 0.02rem solid #a3a4a5;
    border-radius: 0.1rem;
}

.place-appointment-payment .place-lease-time .place-lease-time-table tr td:first-child {
    border-right: 0.02rem dashed #f6f6f6;
}

.place-appointment-payment .place-lease-time .place-lease-time-table tr td {
    border-top: 0.02rem dashed #f6f6f6;
}

.place-appointment-payment .place-lease-time .place-lease-time-table tr:first-child td {
    border-top: 0;
}

.place-appointment-payment .place-lease-time .place-lease-time-table .place-lease-time-select {
    display: block;
}

.place-appointment-payment .place-lease-time .place-lease-time-table .place-lease-time-select.active {
    color: #ff4235;
}

/*庆典活动报名*/
.activity-appointment-wrp .course-detail-share {
    padding: 0.2rem 0;
}

.activity-appointment-wrp .course-detail-content .course-detail-time-address .course-time-address-ul > li {
    padding: 0.2rem 0;
}

.activity-appointment-wrp .course-detail-content .course-detail-time-address .course-img {
    height: 3.8rem;
    overflow: hidden;
}

.activity-appointment-wrp .course-detail-content .course-time-address-ul .registration-infomation {
    text-align: left;
    position: relative;
    font-size: 0.3rem;
    margin-bottom: 0.05rem;
}

.activity-appointment-wrp .course-detail-content .course-time-address-ul .registration-infomation .registration-number {
    position: absolute;
    right: 10%;
    top: 0;
    font-size: 0.25rem;
}

.activity-appointment-wrp .course-detail-content .course-time-address-ul .long-progress-bar {
    position: relative;
    width: 100%;
    height: 0.1rem;
    background-color: #ccc;
    border-radius: 0.1rem;
    overflow: hidden;
}

.activity-appointment-wrp .course-detail-content .course-time-address-ul .long-progress {
    position: absolute;
    width: 60%;
    height: 0.1rem;
    left: 0;
    top: 0;
    background-color: #24c789;
}

.activity-appointment-wrp .course-detail-content .course-detail-time-address .course-time-address-ul .left-part .item-name {
    width: 100%;
}

.activity-appointment-wrp .course-detail-content .course-detail-time-address .course-time-address-ul .left-part .item-name .item-date {
    margin-left: 0.1rem;
}

.activity-appointment-wrp .course-detail-content .course-detail-time-address .course-time-address-ul .left-part .item-name .item-week {
    margin-left: 0.4rem;
}

.activity-appointment-wrp .course-detail-content .course-detail-time-address .course-time-address-ul .left-part .item-name .item-time {
    margin-left: 0.1rem;
}

.activity-appointment-wrp .course-detail-content .course-detail-time-address .course-time-address-ul .left-part.course-address .item-name {
    width: 5em;
}

.activity-appointment-wrp .course-detail-content .course-detail-time-address .course-title {
    font-size: 0.38rem;
}

/*派对庆典、场地预约*/
.party-celebration-webapp .main-content .main-content-item {
    padding: 0 0.18rem 0.18rem;
    border-radius: 0.12rem;
}

.party-celebration-webapp .main-content .main-content-item .item-title {
    line-height: 2.5;
}

.party-celebration-webapp .main-content .main-content-item .item-detal-content {
    /*top: 65%;*/
    /*height: 35%;*/
    bottom: 0;
}

.party-celebration-webapp .main-content .main-content-item .item-detail {
    height: auto;
}

.party-celebration-webapp .main-content .main-content-item .item-detail .item-detal-content .item-activity-time {
    font-size: 0.3rem;
    padding: 0.1rem 0;
}

.party-celebration-webapp .main-content .main-content-item .item-detail .item-detal-content {
    padding: 0.1rem;
}

.party-celebration-webapp .main-content .main-content-item .item-detail .item-detal-content .activity-place-address {
    font-size: 0.25rem;
    position: relative;
    padding-right: 7em;
}

.party-celebration-webapp .main-content .main-content-item .item-detail .item-detal-content .activity-place-address .activity-signup-now {
    position: absolute;
    top: 0;
    right: 0;
    width: 5em;
    display: block;
    padding: 0.5em 0;
    background: url("../images/sign_up_now.png") no-repeat 0 0 #ff4235;
    border-radius: 0.1rem;
    font-size: 0.3rem;
    text-align: center;
}

.party-celebration-webapp .main-content .main-content-item .item-detail .item-detal-content .activity-place-address .activity-signup-now:visited {
    color: #fff;
}

.party-celebration-webapp .main-content .main-content-item .item-detail .item-detal-content .activity-place-address .activity-signup-now:focus {
    color: #fff;
}

.party-celebration-webapp .main-content .main-content-item .item-detail .item-detal-content .activity-place-address .activity-signup-now:active {
    color: #fff;
}

/*.party-celebration-webapp .main-content .main-content-item .item-detail .item-detal-content .item-activity-time .activity-time-date {*/
/*margin-left: 0.1rem;*/
/*}*/

.party-celebration-webapp .main-content .main-content-item .item-detail .item-detal-content .item-activity-time .activity-time-week {
    margin-left: 0.2rem;
}

.party-celebration-webapp .main-content .main-content-item .item-detail .item-detal-content .item-activity-time .activity-time-time {
    margin-left: 0.2rem;
}

.party-celebration-webapp .main-content .party-celebration-place-appointment {
    display: none;
}

.party-celebration-webapp .main-content .party-celebration-place-appointment .main-content-item {
    padding: 0.18rem;
}

.party-celebration-webapp .main-content .party-celebration-place-appointment .main-content-item .item-detal-content {
    /*top: 85%;*/
    /*height: 15%;*/
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.party-celebration-webapp .main-content .party-celebration-place-appointment .main-content-item .item-detal-content .activity-place-address {
    font-size: 0.25rem;
    padding: 0.2rem 0;
}

.party-celebration-webapp .sort-switch .sort-item.active {
    color: #df3d32;
}

/*我的关注*/
/*关注导师*/
.my-attention-webapp .my-attention-teacher .attention-teacher-list {
    position: relative;
    background-color: #3b3b3b;
    border-radius: 0.12rem;
    box-shadow: 0 0 0.1rem rgba(59, 59, 59, 0.8);
    padding: 0.25rem 0.15rem 0.25rem 1.35rem;
    margin-bottom: 0.1rem;
}

.my-attention-webapp .my-attention-teacher .attention-teacher-list .attention-teacher-head {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 0.15rem;
    top: 50%;
    margin-top: -0.5rem;
}

.my-attention-webapp .my-attention-teacher .attention-teacher-list .attention-teacher-head .attention-teacher-img {
    display: block;
    width: 100%;
}

.my-attention-webapp .my-attention-teacher .attention-teacher-list .attention-teacher-table table {
    color: #fff;
    width: 100%;
    font-size: 0.3rem;
}

.my-attention-webapp .my-attention-teacher .attention-teacher-list .attention-teacher-table table tr td:nth-child(2) {
    width: 5em;
}

.my-attention-webapp .my-attention-teacher .attention-teacher-list .attention-teacher-table table tr td:nth-child(1) {
    color: #ff4235;
    width: 25%;
}

.my-attention-webapp .my-attention-teacher .attention-teacher-list .attention-teacher-table .m-r-2em {
    margin-right: 2em;
}

.my-attention-webapp .sort-switch .sort-item.active {
    color: #df3d32;
}

/*关注课程*/
.my-attention-webapp .attention-course-list {
    border-radius: 0.12rem;
    box-shadow: 0 0 0.1rem rgba(59, 59, 59, 0.8);
    background-color: #3b3b3b;
    margin-bottom: 0.1rem;
}

.my-attention-webapp .attention-course-list:last-child {
    margin-bottom: 0;
}

.my-attention-webapp .attention-course-img-wrp {
    position: relative;
    margin: 0 0.2rem 0.2rem;
    padding-top: 0.2rem;
    /*height: 4rem;*/
    overflow: hidden;
}

.my-attention-webapp .attention-course-img-wrp .attention-course-img {
    display: block;
    width: 100%;
}

.my-attention-webapp .attention-course-img-wrp .attenttion-course-title {
    position: absolute;
    color: #ff4235;
    font-size: 0.4rem;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    bottom: 0;
    left: 0;
    line-height: 2.5;
    text-align: center;
}

.my-attention-webapp .attention-course-intro {
    color: #fff;
    padding: 0 0.1rem;
    /*margin-top: 0.15rem;*/
}

.my-attention-webapp .attention-course-intro li {
    border-bottom: 0.01rem solid #7f7f7f;
    line-height: 2.5;
    font-size: 0.3rem;
    padding: 0 0.1rem;
}

.my-attention-webapp .attention-course-intro li:last-child {
    border-bottom: 0;
}

.my-attention-webapp .my-attention-course {
    display: none;
}

/*导师详细信息*/
.white-frame {
    margin: 0.1rem 0.2rem;
    background-color: #3b3b3b;
    border-radius: 0.12rem;
    box-shadow: 0 0 0.1rem rgba(59, 59, 59, 0.8);
}

.dark-frame {
    padding: 0.2rem;
}

.top-small-header {
    margin-top: 1.18rem;
    padding-top: 0.1rem;
}

.fixed-foot-bottom {
    padding-bottom: 1.1rem;
}

.teacher-detail-info {
    margin-top: 1.25rem;
}

.teacher-detail-info .teacher-img-wrp img {
    width: 100%;
    display: block;
}

.teacher-detail-info .teacher-name {
    font-size: 0.36rem;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    margin-bottom: -0.2rem;
}

.teacher-detail-info .teacher-title {
    font-size: 0.32rem;
}

.teacher-detail-info .teacher-resume-abstract {
    color: #fff;
    font-size: 0.3rem;
    line-height: 2.5;
}

.teacher-detail-info .teacher-resume-abstract li {
    width: 48%;
    display: inline-block;
    line-height: 2;
}

.teacher-detail-info .teacher-resume-abstract li .star-icon, .teacher-detail-info .teacher-resume-abstract li .teacher-score {
    color: #ff4235;
}

.teacher-detail-info .teacher-resume-abstract li .star-icon {
    margin: 0 0.15rem;
}

.teacher-detail-info .teacher-resume {
    color: #fff;
    font-size: 0.28rem;
    line-height: 1.6;
}

.teacher-detail-info .teacher-resume li {
    border-top: 0.01rem solid #7f7f7f;
    padding: 0.15rem 0;
}

.teacher-detail-info .teacher-resume .star-icon {
    margin-right: 0.05rem;
}

.teacher-detail-info .teacher-resume .resume-title {
    font-size: 0.30rem;
    line-height: 2;
}

.teacher-detail-info .course-arrangement {
    color: #fff;
    width: 100%;
    border: 0.02rem solid #acacaf;
    text-align: center;
    border-radius: 0.12rem;
    line-height: 2.5;
}

.teacher-detail-info .course-arrangement td {
    vertical-align: middle;
    font-size: 0.24rem;
}

.teacher-detail-info .course-arrangement tbody tr td {
    border-right: 0.01rem dashed #f1f1f5;
    border-top: 0.01rem dashed #f1f1f5;
    font-size: 0.28rem;
}

.teacher-detail-info .course-arrangement thead tr td {
    font-size: 0.32rem;
    font-weight: bolder;
}

.teacher-detail-info .course-arrangement tbody tr td:last-child {
    border-right: 0;
}

.teacher-detail-info .course-arrangement tbody tr td:first-child {
    line-height: 1.5;
}

/*课次教学内容*/
.class-time-content .my-attention-webapp {
    margin-bottom: 0.1rem;
}

.class-time-content .attention-course-list .attention-course-title {
    color: #fff;
    font-size: 0.36rem;
    line-height: 1.5;
    text-align: center;
}

.class-time-content .course-detail-intro .course-intro-item .course-intro-subtitle {
    line-height: 2;
}

.course-movement-step-intro .course-detail-intro .course-title {
    line-height: 2.5;
}

/*动态资讯*/
.main-content .white-frame {
    margin: 0 0 0.1rem;
    overflow: hidden;
}

.dynamic-trivia .course-title {
    line-height: 1.5;
    margin-bottom: 0.15rem;
}

.dynamic-webcast {
    display: none;
}

.dynamic-webcast .course-list-wrp {
    position: relative;
}

.dynamic-webcast .course-list-wrp .mask-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.dynamic-webcast .course-list-wrp .show-course-img {
    width: 100%;
    display: block;
}

.dynamic-webcast .course-list-wrp .course-detail {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dynamic-webcast .course-list-wrp .course-detail .course-title {
    font-size: 0.38rem;
    color: #ff4235;
    font-weight: bolder;
}

.dynamic-webcast .course-list-wrp .course-detail .course-class-time {
    margin-bottom: 0.1rem;
    font-size: 0.22rem;
}

.dynamic-webcast .course-list-wrp .course-detail .course-class-status-wrp {
    font-size: 0.24rem;
}

.dynamic-webcast .course-list-wrp .course-detail .course-class-status {
    margin-left: 0.25rem;
}

.dynamic-info .sort-switch .sort-item.active {
    color: #df3d32;
}

.dynamic-webcast .course-list-wrp .course-class-status-icon {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    z-index: 10;
    border: 0.01rem solid #fff;
    color: #fff;
    padding: 0.05rem 0.15rem 0.05rem 0.35rem;
    font-size: 0.25rem;
    border-radius: 0.25rem;
}

.dynamic-webcast .course-list-wrp .course-class-status-icon .dot-icon {
    width: 0.15rem;
    height: 0.15rem;
    position: absolute;
    left: 0.15rem;
    top: 50%;
    margin-top: -0.08rem;
    background-color: #ffa42f;
    border-radius: 50%;
}

/*活动花絮*/

.top-small-header .white-frame {
    margin-top: 0;
}

.activities .title-addr-time {
    text-align: center;
    color: #fff;
}

.activities .title-addr-time .activities-title {
    font-size: 0.36rem;
    color: #ff4235;
    font-weight: bolder;
}

.activities .title-addr-time .activities-date {
    font-size: 0.3rem;
    font-weight: bolder;
}

.activities .title-addr-time .activities-addr {
    font-size: 0.25rem;
    margin: 0.2rem 0 0.4rem;
}

.activities .activities-list .show-activity-img-wrp .show-activity-img {
    display: block;
    width: 100%;
}

.activities .activities-list .activity-title {
    color: #fff;
    font-size: 0.3rem;
    line-height: 2;
}

.activities .activities-list {
    margin-bottom: 0.2rem;
}

.activities .activities-list:last-child {
    margin-bottom: 0;
}

.activities .activities-like {
    margin: 0.4rem 0 0;
}

.activities .activities-like .activities-like-icon {
    display: block;
    margin: 0 auto;
}

.activities .activities-like .activities-like-num {
    text-align: center;
    font-size: 0.3rem;
    color: #fff;
    line-height: 2;
}

.activities-wrp .activities-comment .activities-comment-title {
    font-size: 0.32rem;
    color: #212121;
}

.activities-wrp .activities-comment .activities-comment-title h4 {
    border-bottom: 0.02rem solid #f44336;
    display: inline-block;
    padding: 0 0.1rem;
}

.activities-wrp .activities-comment .activities-comment-content-ul {
    height: 5rem;
    overflow-y: auto;
    border-top: 0.01rem solid #cecece;
}

.activities-wrp .activities-comment .activities-comment-content-li {
    border-top: 0.01rem solid #cecece;
    padding: 0.15rem 0;
}

.activities-wrp .activities-comment .activities-comment-content-li:first-child {
    border-top: 0;
}

.activities-wrp .activities-comment .activities-comment-content-li .activities-comment-content-li-subwrp {
    position: relative;
    padding-left: 0.9rem;
}

.activities-wrp .activities-comment .activities-comment-content-li .comment-head {
    position: absolute;
    left: 0.1rem;
    top: 0;
    width: 0.65rem;
    height: 0.65rem;
    border: 0.01rem solid #cecece;
    border-radius: 50%;
    overflow: hidden;
}

.activities-wrp .activities-comment .activities-comment-content-li .comment-head .comment-head-img {
    display: block;
    width: 100%;
}

.activities-wrp .activities-comment .activities-comment-content-li .comment-name {
    color: #949494;
    font-size: 0.3rem;
}

.activities-wrp .activities-comment .activities-comment-content-li .comment-time {
    position: absolute;
    right: 0.1rem;
    top: 0.05rem;
    color: #949494;
    font-size: 0.22rem;
}

.activities-wrp .activities-comment .activities-comment-content-li .commtent-content {
    color: #393939;
    font-size: 0.32rem;
    padding: 0.1rem 0;
}

.activities-wrp .course-detail-share {
    padding: 0.1rem 0;
}

.comment-input-wrp {
    background-color: #f4f5f6;
    color: #656565;
    font-size: 0.3rem;
    position: relative;
    padding: 0.1rem 8em 0.1rem 0.2rem;
    height: 1.1rem;
    line-height: 0.9rem;
    /*margin: 0 -0.2rem;*/
    border-top: 0.01rem solid #cecece;
}

.comment-input-wrp .comment-input {
    border: 0.01rem solid #cbcbcb;
    border-radius: 0.3rem;
    background-color: #f4f5f6;
    height: 0.7rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0.08rem;
}

.comment-input-wrp .comment-input textarea {
    width: 100%;
    height: 100%;
    font-size: 0.3rem;
    background-color: #f4f5f6;
    border: 0;
    outline: none;
    padding: 0.15rem 0.15rem 0;

}

.comment-input-wrp .comment-action {
    width: 8em;
    height: 100%;
    line-height: 1.1rem;
    position: absolute;
    right: 0.2rem;
    top: 0;
    text-align: right;
}

.comment-input-wrp .comment-action .comment-sumit-btn {
    display: inline-block;
    padding: 0 0.1rem;
}

.comment-input-wrp .comment-action .comment-like-action {
    display: inline-block;
}

.comment-input-wrp .comment-action .comment-like-action .comment-like-icon {
    width: 0.4rem;
    position: relative;
    top: 0.08rem;
    display: inline-block;
}

.comment-input-wrp .comment-action .vertical-line {
    display: inline-block;
    width: 0.01rem;
    height: 60%;
    background-color: #bbb;
    margin: 0 0.1rem 0 0.05rem;
    position: relative;
    top: 0.2rem;
}

/*课堂花絮*/
.classroom-activities-wrp .course-detail-content {
    margin: 0;
    padding: 0;
}

.classroom-activities-wrp .activities .activities-list .activity-title {
    line-height: 1.5;
}

.classroom-activities-wrp .activities .activities-list {
    margin-bottom: 0.3rem;
}

.classroom-activities-wrp .course-detail-content .course-detail-time-address .course-title-wrp {
    margin-top: -0.2rem;
}

/*产品货架*/
.goods-list .goods-item {
    background-color: #3b3b3b;
    border-radius: 0.08rem;
    box-shadow: 0 0 0.1rem rgba(59, 59, 59, 0.8);
    padding: 0.2rem;
    margin-bottom: 0.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.7rem;
    /*padding-right: 0.5rem;*/
}

.goods-list .goods-item .goods-img-wrp .goods-img {
    display: block;
    color: #fff;
    width: 2.3rem;
}

.goods-list .goods-item .goods-intro-text {
    color: #fff;
    font-size: 0.3rem;
    margin-left: 0.25rem;
    width: 4rem;
}

.goods-list .goods-item .goods-intro-text .goods-price {
    color: #ff4235;
    margin-top: 0.1rem;
    font-weight: bold;
}

.goods-shelves .slide-switch-tab {
    padding-top: 0.2rem;
    color: #dfdfdf;
    height: 0.6rem;
    font-size: 0.32rem;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.goods-shelves .slide-switch-tab .tab-item {
    width: 33%;
    display: inline-block;
    border-right: 0.02rem solid #909090;
    text-align: center;
}

.goods-shelves .slide-switch-tab .tab-item.active {
    color: #df3d32;
}

.goods-shelves .slide-switch-tab .tab-item .good-detail-link {
    display: inline-block;
    width: 100%;
}

.goods-shelves .slide-switch-tab .tab-item:last-child {
    border-right: 0;
}

.goods-shelves .main-content {
    margin-bottom: 0;
}

/*商城产品详情页面*/
/*.goods-detail-wrp .dark-frame{*/
/*padding: 0.2rem;*/
/*}*/
.goods-detail-wrp .goods-img-wrp .goods-img {
    display: block;
    width: 100%;
}

.goods-detail-wrp .goods-intro-text {
    color: #fff;
    font-size: 0.3rem;
    margin-top: 0.2rem;
    line-height: 1.2;
}

.goods-detail-wrp .goods-intro-text .original-price {
    color: #ff4235;
    font-size: 0.32rem;
    font-weight: bolder;
    margin-top: 0.2rem;
}

.goods-detail-wrp .goods-intro-text .original-price .em-width {
    margin-right: 1em;
}

.goods-detail-wrp .goods-intro-text .vip-price {
    color: #ff4235;
    font-size: 0.32rem;
    font-weight: bolder;
    margin-top: 0.2rem;
}

.goods-detail-wrp .course-detail-part .course-title {
    margin-top: -0.2rem;
}
