---
title: Aimeiyan's Homepage
layout: page
---

<ul class="listing">
    <!--<li class="listing-seperator">2014</li>-->

    <li style="list-style: none;">
        <time>2014-12-20</time>&nbsp;&nbsp;
        <a href="document/HTML_version/SmartAdmin-introduce.html" target="_blank" title="">SmartAdmin前端页面组件库应用</a>
    </li>
    {% for post in paginator.posts %}
    {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
    {% if year != y %}
    {% assign year = y %}
    <li class="listing-seperator">&nbsp;</li>
    {% endif %}
    <li class="listing-item">
        <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </li>
    {% endfor %}
    <li class="listing-seperator">&nbsp;</li>
    <li style="list-style: none;">
        <time>2014-01-12</time>
        <a href="backup/docs/PC-Website.html" target="_blank" title="">&nbsp;&nbsp;PC版页面模仿实例</a>
    </li>

    <li style="list-style: none;">
        <time>2014-02-08</time>
        <a href="backup/docs/mobile-website.html" target="_blank" title="">&nbsp;&nbsp;移动版页面模仿实例</a>
    </li>
    <li style="list-style: none;">
        <time>2014-02-19</time>
        <a href="backup/docs/menu.html" target="_blank" title="">&nbsp;&nbsp;jQuery效果制作</a>
    </li>

    <li class="listing-seperator">&nbsp;</li>
    <li style="list-style: none;">
        <time>2014-01-04&nbsp;&nbsp;</time>
        <a href="backup/docs/websites/jd/jd.html" target="_blank" title="">实际操作模仿京东首页制作</a>
    </li>
    <li style="list-style: none;">
        <time>2014-01-14&nbsp;&nbsp;</time>
        <a href="backup/docs/websites/commodity_website/index.html" target="_blank" title="">实践电子商务网站-首页</a>
    </li>
    <li style="list-style: none;">
        <time>2014-01-19&nbsp;&nbsp;</time>
        <a href="backup/docs/websites/commodity_website/details.html" target="_blank" title="">实践电子商务网站-商品页</a>
    </li>
    <li style="list-style: none;">
        <time>2014-01-28&nbsp;&nbsp;</time>
        <a href="backup/docs/websites/pm25/chapm25_backup_vision2.html" target="_blank" title="">PM2.5网站模仿实例</a>
    </li>
    <li style="list-style: none;">
        <time>2013-12-16&nbsp;&nbsp;</time>
        <a href="backup/docs/websites/tea/the_tea_history.html" target="_blank" title="">Eric Meyer的CSS site design视频课程的网页实例</a>
    </li>
    <li style="list-style: none;">
        <time>2014-03-02</time>&nbsp;&nbsp;
        <a href="backup/docs/websites/hammer-luo/hammer-luo-indexpage.html" target="_blank" title="">锤子科技首页模仿实例</a>
    </li>

    <li class="listing-seperator">&nbsp;</li>
    <li style="list-style: none;">
        <time>2014-01-09&nbsp;&nbsp;</time>
        <a href="backup/docs/mobile-website/kanzhunmofang.html" target="_blank" title="">实际操作模仿看准网手机版首页</a>
    </li>
    <li style="list-style: none;">
        <time>2014-01-20&nbsp;&nbsp;</time>
        <a href="backup/docs/mobile-website/tao-bao.html" target="_blank" title="">实践淘宝手机版首页</a>
    </li>

    <li class="listing-seperator">&nbsp;</li>
    <li style="list-style: none;">
        <time>2013-12-26&nbsp;&nbsp;</time>
        <a href="backup/docs/menu.html" target="_blank" title="">菜单栏动画效果</a>
    </li>
    <li style="list-style: none;">
        <time>2013-12-06&nbsp;&nbsp;</time>
        <a href="backup/docs/zoom-in.html" target="_blank" title="">放大镜效果</a>
    </li>
    <li style="list-style: none;">
        <time>2013-12-15&nbsp;&nbsp;</time>
        <a href="backup/docs/slider.html" target="_blank" title="">slider 动画效果</a>
    </li>
    <li style="list-style: none;">
        <time>2014-12-23&nbsp;&nbsp;</time>
        <a href="backup/docs/carousel.html" target="_blank" title="">carousel 动画效果</a>
    </li>
    <li style="list-style: none;">
        <time>2015-01-04&nbsp;&nbsp;</time>
        <a href="backup/docs/tab-select.html" target="_blank" title="">Tab切换</a>
    </li>
    <li style="list-style: none;">
        <time>2015-02-12&nbsp;&nbsp;</time>
        <a href="backup/docs/BubblePopup.html" target="_blank" title="">Bubble Popup 效果</a>
    </li>

</ul>

<div id="post-pagination" class="paginator">

    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/"><前页</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}"><前页</a>
    {% endif %}
    {% else %}
    <span class="previous disabled"><前页</span>
    {% endif %}

    {% if paginator.page == 1 %}
    <span class="current-page">1</span>
    {% else %}
    <a href="/">1</a>
    {% endif %}

    {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
    <span class="current-page">{{count}}</span>
    {% else %}
    <a href="/page{{count}}">{{count}}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a class="next" href="/page{{paginator.next_page}}">后页></a>
    {% else %}
    <span class="next disabled" >后页></span>
    {% endif %}
    (共{{ paginator.total_posts }}篇)
</div>