* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background: #eaf4fa;
    color: #555;
    /*height: 120000px;*/
}

#imitate-website-page {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
}

#list li {
    text-indent: 20px;
    line-height: 2.5em;
    list-style: circle;
    list-style-position: inside;
}

#list li.first {
    list-style: none;
}

#list li.last {
    list-style: none;
}

a:hover {
    font-weight: bold;
}

/*#content iframe{*/
/*zoom: 0.75;*/
/*-moz-transform: scale(0.75);*/
/*-moz-transform-origin: 0 0;*/
/*-o-transform: scale(0.75);*/
/*-o-transform-origin: 0 0;*/
/*-webkit-transform: scale(0.75);*/
/*-webkit-transform-origin: 0 0;*/
/*margin-bottom: 10px;*/
/*border: 1px solid #000000;*/
/*-webkit-box-shadow: -4px 5px 49px 1px rgba(0,0,0,0.75);*/
/*-moz-box-shadow: -4px 5px 49px 1px rgba(0,0,0,0.75);*/
/*box-shadow: -4px 5px 49px 1px rgba(0,0,0,0.75);;*/
/*}*/

#content iframe {
    margin: 10px auto;
    width: 1200px;
    height: 800px;
    border: 1px solid #000000;
}

#content .zoom {
    /*-webkit-transform: scale(0.9); *//* Safari and Chrome */
    /*transform: scale(0.9); *//* zoom factor - prefix if needed */

}

.row {
    margin-top: 20px;
    margin-bottom: 60px;
}

.col-lg-12 {
    text-align: center;
}